.inputProvisionamento,
.formSelect {
  color: white;
  outline: 2px solid transparent;
  transition: all ease-in-out 0.2s;
  background-color: #1d2432;
  border-radius: 5px !important;
}

.inputProvisionamento:focus,
.formSelect:focus {
  box-shadow: 0 0 0 0;
  outline: 2px solid #6366f1;
  /* border-color: #4F46E5; */
}
