.scriptOLT {
  padding: 10px 10px;
  font-size: 14px;
  height: 386px;
  width: 610px;
  color: white;
  background-color: #1d2432;
  outline: 2px solid transparent;
  transition: all ease-in-out 0.2s;
  border-radius: 5px !important;
  resize: none;
}

.scriptOLT:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  outline: 2px solid #6366f1;
  /* border-color: #4F46E5; */
}

/* #scriptOLT {
  height: 330px;
  width: 580px;
} */

/* ################################################################################################ */

@media only screen and (max-device-width: 1200px) {
  .scriptOLT {
    max-width: 610px;
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  .scriptOLT {
    /* max-width: 610px; */
    width: 300px;
    height: 395px;
  }
}

@media screen and (max-width: 719px) and (min-width: 375px) {
  .scriptOLT {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -15px;
  }
}
