.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  background-color: #202123;
  /* background-color: #172138; */
  overflow-x: hidden;
  padding-top: 20px;
}

.imgSideNav {
  width: 75px;
  height: 33px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.sidenav a,
.details {
  /* padding: 5px 5px 5px 5px; */
  margin: 15px 0 5px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: flex;
  flex-direction: column;
  align-self: center;
  /* align-items: center; */
  justify-content: center;
  transition: all 0.5s ease;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.details:hover {
  color: #f1f1f1;
}

.exit {
  position: absolute;
  width: 80%;
  height: 10%;
  bottom: 0;
}

.li::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  margin-left: 20px;
  margin-bottom: 20px;
  /* background: #818181; */
  background: rgb(129, 129, 129);
  background: linear-gradient(
    90deg,
    rgba(129, 129, 129, 1) 0%,
    rgba(163, 162, 162, 0.5) 25%,
    rgba(203, 202, 202, 0.25) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.details::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  /* margin-left: 20px; */
  margin-bottom: 20px;
  /* background: #818181; */
  background: rgb(129, 129, 129);
  background: linear-gradient(
    90deg,
    rgba(129, 129, 129, 1) 0%,
    rgba(163, 162, 162, 0.5) 25%,
    rgba(203, 202, 202, 0.25) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.exit::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  margin-left: 20px;
  margin-bottom: 20px;
  /* background: #818181; */
  background: rgb(129, 129, 129);
  background: linear-gradient(
    90deg,
    rgba(129, 129, 129, 1) 0%,
    rgba(163, 162, 162, 0.5) 25%,
    rgba(203, 202, 202, 0.25) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.details > .summary {
  list-style: none;
  cursor: pointer;
}

.details > .summary::-webkit-details-marker {
  display: none;
}

.main {
  margin-left: 200px;
  padding: 0px 10px;
}

/* .nav { */
/* margin: 2% auto 0; */
/* margin-top: 2%; */
/* margin-left: 220px; */
/* padding: 0px 10px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
} */

/* .ul {
  display: flex;
  flex-direction: column;
}

.ul > li {
  margin-right: 10px;
}

.ul > li::after {
  content: "";
  display: block;
  width: 88%;
  height: 1px;
  background: rgb(208,229,255);
  background: linear-gradient(130deg, rgba(208,229,255,0.01) 0%, rgba(143,151,255,0.07) 35%, rgba(67,109,255,0.19) 100%);
} */

.linksLi {
  color: white;
  /* padding: 10px 10px 10px 0; */
  transition: all 0.5s ease;
  font-size: 16px !important;
}

.linksLi:hover {
  color: rgb(255, 200, 200);
}

@keyframes showSidebar {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 175px; /* TAMANHO DA SIDEBAR NA MIDIA QUERY */
  }
}

.svg {
  display: none;
  position: fixed;
  color: white;
  width: 30px;
  height: 30px;
  margin-top: 32px;
  margin-left: 32px;
  cursor: pointer;
  z-index: 2;
}

/* ################################################################################################ */

@media screen and (max-width: 1200px) {
  .sidenav {
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #202123;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .imgSideNav {
    width: 75px;
    height: 33px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 720px) {
  .sidenav {
    animation: showSidebar .5s;
  }

  .imgSideNav {
    display: none;
  }

  .ul {
    /* width: 75px;
    height: 33px;
    margin: 0 auto; */
    margin-top: 75px;
  }

  .svg {
    display: block;
    /* position: fixed;
    color: white;
    width: 30px;
    height: 30px;
    margin-top: 32px;
    margin-left: 32px;
    cursor: pointer;
    z-index: 2; */
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
